#content .map path {
  fill: #ddd;
  stroke: #aaa;
}

.overall{
	fill:blue;
}



.line_overall {
    fill: none;
    stroke: blue;
    stroke-width: 3;
}

div.map {
  position: absolute;
  top: 100px; 
  width: 200px;
  height: 100px;
}

div.plot {
  position: absolute;
  top: 100px; 
  left: 700px;
  width: 200px;
  height: 100px;
}

