#content .map path {
  fill: #ddd;
  stroke: #aaa;
}

.overall{
	fill:blue;
}

h1{
    font-family:  sans-serif;
    color: steelblue;
    font-size: 40px;
    padding-left:10%;
}

h2{
    font-family:  sans-serif;
    color: steelblue;
    font-size: 20px;
    padding-left:10%;
}

.state-active{
    fill:blue;
}

.state:hover { 
  stroke: blue;
  stroke-width: 4;
}


.line_overall {
    fill: none;
    stroke: steelblue;

}

div.map {
  position: absolute;
  top: 100px; 
  width: 200px;
  height: 100px;
}

div.plot {
  position: absolute;
  top: 100px; 
  left: 700px;
  width: 200px;
  height: 100px;
}

